
<br>
<br>

<div class="container">
    <h1>Lista do Ensino Médio </h1>
    <br>
    <br>



    <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Nota</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let estudante of estudantes">
                <th scope="row">{{estudante.id}}</th>
                  <td>{{estudante.nome}}</td>
                  <td>{{estudante.idade}}</td>
                  <td>{{estudante.nota}}</td>
                </tr>
              
            </tbody>
          </table>

</div>